<!-- https://dummyjson.com/users -->
<!-- 

- Create service that contain API call method
 - Create a component that displays items in the table
 - Display alternative rows with different background colors using style binding
 - Implement sorting functionality with drop-down for all columns 
 - Implement search functionality to search any keyword exist in table
-->

<div class="row">
  <div class="col-xs-12">
    <div class="flex">
      <h1>Data</h1>
      <input
        type="search"
        placeholder="Enter to search"
        [(ngModel)]="search"
        (input)="filterData()"
        class="design"
      />
    </div>
    <table class="table">
      <tr>
        <th scope="col">
          <li class="dropdown" appDropDown>
            ID &nbsp;{{ sortDirection === "asc" ? "▼" : " ▲" }}
            <ul class="dropdown-menu">
              <li>
                <a style="cursor: pointer" (click)="sortData('id', 'asc')"
                  >Ascending</a
                >
              </li>
              <li>
                <a style="cursor: pointer" (click)="sortData('id', 'desc')"
                  >Descending
                </a>
              </li>
            </ul>
          </li>
        </th>

        <th scope="col">
          <li class="dropdown" appDropDown>
            First Name &nbsp;{{ sortDirection === "asc" ? "▼" : " ▲" }}
            <ul class="dropdown-menu">
              <li>
                <a
                  style="cursor: pointer"
                  (click)="sortData('firstName', 'asc')"
                  >Ascending</a
                >
              </li>
              <li>
                <a
                  style="cursor: pointer"
                  (click)="sortData('firstName', 'desc')"
                  >Descending
                </a>
              </li>
            </ul>
          </li>
        </th>

        <th scope="col">
          <li class="dropdown" appDropDown>
            Last Name &nbsp;{{ sortDirection === "asc" ? "▼" : " ▲" }}
            <ul class="dropdown-menu">
              <li>
                <a style="cursor: pointer" (click)="sortData('lastName', 'asc')"
                  >Ascending</a
                >
              </li>
              <li>
                <a
                  style="cursor: pointer"
                  (click)="sortData('lastName', 'desc')"
                  >Descending
                </a>
              </li>
            </ul>
          </li>
        </th>

        <th scope="col">
          <li class="dropdown" appDropDown>
            Email address &nbsp;{{ sortDirection === "asc" ? "▼" : " ▲" }}
            <ul class="dropdown-menu">
              <li>
                <a style="cursor: pointer" (click)="sortData('email', 'asc')"
                  >Ascending</a
                >
              </li>
              <li>
                <a style="cursor: pointer" (click)="sortData('email', 'desc')"
                  >Descending
                </a>
              </li>
            </ul>
          </li>
        </th>

        <th scope="col">
          <li class="dropdown" appDropDown>
            Age &nbsp;{{ sortDirection === "asc" ? "▼" : " ▲" }}
            <ul class="dropdown-menu">
              <li>
                <a style="cursor: pointer" (click)="sortData('age', 'asc')"
                  >Ascending</a
                >
              </li>
              <li>
                <a style="cursor: pointer" (click)="sortData('age', 'desc')"
                  >Descending
                </a>
              </li>
            </ul>
          </li>
        </th>

        <th scope="col">
          <li class="dropdown" appDropDown>
            Weight &nbsp;{{ sortDirection === "asc" ? "▼" : " ▲" }}

            <ul class="dropdown-menu">
              <li>
                <a style="cursor: pointer" (click)="sortData('weight', 'asc')"
                  >Ascending</a
                >
              </li>
              <li>
                <a style="cursor: pointer" (click)="sortData('weight', 'desc')"
                  >Descending
                </a>
              </li>
            </ul>
          </li>
        </th>
      </tr>
      <tr
        *ngFor="let data of table_data; let i = index"
        [ngStyle]="backgroundColor(i)"
      >
        <td>{{ data["id"] }}</td>
        <td>{{ data["firstName"] }}</td>

        <td>{{ data["lastName"] }}</td>

        <td>{{ data["email"] }}</td>
        <td>{{ data["age"] }}</td>
        <td>{{ data["weight"] }}</td>
      </tr>
    </table>
  </div>
</div>
