td,
th {
  padding: 10px;
  border: 1px dashed #000;
  text-align: center;
  font-size: 15px;
}
tr {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.design {
  padding: 10px 20px;
  /* margin: 20px 0; */
  border-radius: 20px;
  border: 1px solid #777;
  color: #222;
  letter-spacing: 0.7px;
  cursor: pointer;
}
.design:focus {
  outline: 1px solid #999;
}
