<!-- https://dummyjson.com/users -->
<!-- 

- Create service that contain API call method
 - Create a component that displays items in the table
 - Display alternative rows with different background colors using style binding
 - Implement sorting functionality with drop-down for all columns 
 - Implement search functionality to search any keyword exist in table
-->

<div class="row">
  <div class="col-xs-12">
    <div class="flex">
      <h1>Data</h1>
      <div class="flex" style="gap: 12px; margin-right: 20px">
        <input
          type="search"
          placeholder="Enter to search"
          [(ngModel)]="search"
          (input)="filterData()"
          class="design"
        />
        <li class="dropdown" appDropDown>
          <a
            style="cursor: pointer; color: #000; font-size: 15px"
            class="dropdown-toggle"
            ><span class="glyphicon glyphicon-sort"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a style="cursor: pointer" (click)="sortData('id')">ID</a>
            </li>
            <li>
              <a style="cursor: pointer" (click)="sortData('firstName')"
                >First name
              </a>
            </li>
            <li>
              <a style="cursor: pointer" (click)="sortData('lastName')"
                >Last name</a
              >
            </li>

            <li>
              <a style="cursor: pointer" (click)="sortData('email')">Email</a>
            </li>
            <li>
              <a style="cursor: pointer" (click)="sortData('age')">Age</a>
            </li>
            <li>
              <a style="cursor: pointer" (click)="sortData('weight')">
                Weight</a
              >
            </li>
          </ul>
        </li>
      </div>
    </div>
    <table class="table">
      <tr>
        <th scope="col">ID</th>

        <th scope="col">First Name</th>

        <th scope="col">Last Name</th>

        <th scope="col">Email address</th>

        <th scope="col">Age</th>

        <th scope="col">Weight</th>
      </tr>
      <tr
        *ngFor="let data of table_data; let i = index"
        [ngStyle]="backgroundColor(i)"
      >
        <td>{{ data["id"] }}</td>
        <td>{{ data["firstName"] }}</td>

        <td>{{ data["lastName"] }}</td>

        <td>{{ data["email"] }}</td>
        <td>{{ data["age"] }}</td>
        <td>{{ data["weight"] }}</td>
      </tr>
    </table>
  </div>
</div>
